# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\11400421\Documents\Switch2IT\2020-2021\Semester 1\Java Advanced 1\Git oefeningen\H8\JavaAdv_H8_IO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
